<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649767238491-ppeh4nvdin9hog7aq0o29lnp3jv6q18i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649767238491-ppeh4nvdin9hog7aq0o29lnp3jv6q18i</string>
	<key>API_KEY</key>
	<string>AIzaSyAE-Ie4tx1D7fdGA4MDvOt6dFPDrWgOUeA</string>
	<key>GCM_SENDER_ID</key>
	<string>649767238491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monedya.NewInstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>newinstaclone-28203</string>
	<key>STORAGE_BUCKET</key>
	<string>newinstaclone-28203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649767238491:ios:09affd6cdabf7d4cfcf87e</string>
	<key>DATABASE_URL</key>
	<string>https://newinstaclone-28203.firebaseio.com</string>
</dict>
</plist>